{% block main-select %}
{% load static %}

<!-- Background image -->
<div class="p-5 text-center bg-image" style="
    background-image: url('{% static '/img/steelbars.png' %}');
    height: 680px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Application for ML/DL in Material Science Engineering</h1>
                <h4 class="mb-3">Prediction of good quality AlloySteal with the different element choice</h4>
                <a class="btn btn-outline-light btn-lg" href="main/" role="button">Click to action</a>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->

{% endblock %} 